@(params: forms.PageParams, course: Form[forms.CourseForm] ,courseDateRows: List[Form[forms.CourseDateForm]]) @main(params) {
<style>
table.main th {
	text-align: right;
	vertical-align: middle;
}
</style>
} {

<div
	class="row"
	style="margin-bottom: 1em">
	<div class="col-md-12">
		<form class="form-inline">
			<div
				class="input-group"
				style='width: 160px;'>
				<span class="input-group-addon">上課代號</span>
				<input
					type="text"
					class="form-control"
					id="txbReadId"
					value='@course("id").value'>
			</div>
			<button
				class="btn btn-info"
				id="btnRead">查詢</button>
			<code style='margin-left: 3em'>維護功能</code>
			<button
				class="btn btn-primary"
				id="btnCreate">新增</button>
			<button
				class="btn btn-warning"
				id="btnUpdate">修改</button>
			<button
				class="btn btn-danger"
				id="btnDelete">刪除</button>
		</form>
	</div>
</div>
<div
	class="row"
	style="margin-bottom: 1em">
	<div class="col-lg-9 col-lg-offset-1">
		<form
			class="main"
			method="post"
			action="@request.uri">
			<div id="tabs">
				<ul>
					<li>
						<a href="#tabs-1">上課資料</a>
					</li>
					<li>
						<a href="#tabs-2">上課日期</a>
					</li>
				</ul>

				<div id="tabs-1">

					<table class='table table-border main'>
						<tr>
							<th
								class='info'
								style='width: 100px'>上課代碼</th>
							<td>
								<span class="label label-pill label-default">@course("id").value</span>
								<input
									type="hidden"
									name="id"
									value='@course("id").value' />
							</td>
							<th
								class='info'
								style='width: 100px'>級別</th>
							<td>
								<select
									name='level'
									class="form-control"
									id="selLevels">
									<option value="">[尚未選擇級別]</option>
									@for((key, value) <- params.getMap("levels")){ @if(key.equals(course("level").value)){
									<option
										value="@key"
										selected>@value</option>
									}else{
									<option value="@key">@value</option>
									} }
								</select>
							</td>
						</tr>
						<tr>
							<th class='info'>舞科</th>
							<td>
								<select
									name='danceDivision'
									class="form-control"
									id="selLevels">
									<option value="">[尚未選擇舞科]</option>
									@for((key, value) <- params.getMap("danceDivisions")){ @if(key.equals(course("danceDivision").value)){
									<option
										value="@key"
										selected>@value</option>
									}else{
									<option value="@key">@value</option>
									} }
								</select>
							</td>
							<th class='info'>舞碼</th>
							<td>
								<select
									name='choreography'
									class="form-control"
									id="selChoreographies">
									<option value="">[尚未選擇舞碼]</option>
									@for((key, value) <- params.getMap("choreographies")){ @if(key.equals(course("choreography").value)){
									<option
										value="@key"
										selected>@value</option>
									}else{
									<option value="@key">@value</option>
									} }
								</select>
							</td>
						</tr>
						<tr>
							<th class='info'>星期</th>
							<td>
								<select
									name='dayOfWeek'
									class="form-control">
									<option value="">[尚未選擇日別]</option>
									@for((key, value) <- params.getMap("dayOfWeek")){ @if(key.equals(course("dayOfWeek").value)){
									<option
										value="@key"
										selected>@value</option>
									}else{
									<option value="@key">@value</option>
									} }
								</select>
							</td>
							<th class='info'>時段</th>
							<td>
								<select
									name='period'
									class="form-control">
									<option value="">[尚未選擇時段]</option>
									@for((key, value) <- params.getMap("periods")){ @if(key.equals(course("period").value)){
									<option
										value="@key"
										selected>@value</option>
									}else{
									<option value="@key">@value</option>
									} }
								</select>
							</td>
						</tr>
						<tr>
							<th class='info'>起始時間</th>
							<td>
								<input
									name='beginTime'
									type="text"
									class="form-control"
									value='@course("beginTime").value'></input>
							</td>
							<th class='info'>結束時間</th>
							<td>
								<input
									name='endTime'
									type="text"
									class="form-control"
									value='@course("endTime").value'></input>
							</td>
						</tr>
						<tr>
							<th class='info'>起始日期</th>
							<td>
								<input
									name='beginDate'
									type="text"
									class="form-control datepicker"
									value='@course("beginDate").value'></input>
							</td>
							<th class='info'>結束日期</th>
							<td>
								<input
									name='endDate'
									type="text"
									class="form-control datepicker"
									value='@course("endDate").value'></input>
							</td>
						</tr>
						<tr>
							<th class='info'>課堂</th>
							<td>
								<select
									name='quantity'
									class="form-control"
									id="selLocations">
									<option value="">[尚未選擇課堂]</option>
									@for((key, value) <- params.getMap("quantities")){ @if(key.equals(course("quantity").value)){
									<option
										value="@key"
										selected>@value</option>
									}else{
									<option value="@key">@value</option>
									} }
								</select>

							</td>
							<th class='info'>地點</th>
							<td>
								<select
									name='location'
									class="form-control"
									id="selLocations">
									<option value="">[尚未選擇地點]</option>
									@for((key, value) <- params.getMap("locations")){ @if(key.equals(course("location").value)){
									<option
										value="@key"
										selected>@value</option>
									}else{
									<option value="@key">@value</option>
									} }
								</select>
							</td>
						</tr>
					</table>

				</div>
				<div id="tabs-2">
					<table class="table table-striped table-condensed">
						<tr>
							<th style='width: 80px'>課堂</th>
							<th style='width: 160px'>上課日期</th>
							<th>備註</th>
						</tr>
						@for((row, index) <- courseDateRows.zipWithIndex) {

						<tr>
							<td>
								<input
									type='hidden'
									name='courseDateRows[@index].id'
									value='@row("id").value'>
								@row("serial").value
							</td>
							<td>
								<input
									type="text"
									class="form-control datepicker"
									value='@row("courseDate").value'
									name='courseDateRows[@index].courseDate'>
							</td>
							<td>
								<input
									type="text"
									class="form-control"
									value='@row("remark").value'
									name='courseDateRows[@index].remark'>
							</td>
						</tr>

						}
					</table>
				</div>

			</div>
		</form>
	</div>
</div>
} {
<script>
	$(function() {
		$("#tabs").tabs();

		$("#btnRead").click(function() {
			var id = $("#txbReadId").val();
			var url = '@(routes.CourseDetail.aaa())/' + id;
			window.location = url;
			return false;
		});

		// 讓按鈕不必放在FORM裡面
		$("#btnCreate").click(function() {
			$('<input>').attr({
				type : 'hidden',
				name : 'action',
				value : 'create'
			}).appendTo('form.main');
			$('form.main').submit();
			return false;
		});

		// 讓按鈕不必放在FORM裡面
		$("#btnUpdate").click(function() {
			$('<input>').attr({
				type : 'hidden',
				name : 'action',
				value : 'update'
			}).appendTo('form.main');
			$('form.main').submit();
			return false;
		});

		$("#btnDelete").click(function() {
			$('<input>').attr({
				type : 'hidden',
				name : 'action',
				value : 'delete'
			}).appendTo('form.main');
			$('form.main').submit();
			return false;
		});
	});
</script>
}
