@(params: forms.PageParams) @main(params) {
<style>
</style>
} {

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron well">
				<h2>教師經歷</h2>
				<p>@params.getString("experience")</p>
				<p>
					<a
						class="btn btn-primary btn-large"
						href="#">了解更多 »</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		@for(news <- params.getList("news")){

		<div class="col-md-4">
			<h2>
				<span class="label label-warning">公告事項</span>
			</h2>
			<p>@news</p>
		</div>
		}
	</div>
</div>
} {
<script>
	
</script>
}
