@(params: forms.PageParams) @main(params) {
<style>
</style>
} {

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron well">
				<h2>教師經歷</h2>
				<p>曾榮獲多項職業組冠軍，教師證照，歷經中鋼、長庚、社教館、順岑里、漢民國小、宏亮舞社、六苓舞社、國財局、五甲社福中心、文化中心、鳳凌廣場、小港教室等指導老師，社團開班授課達十幾年，身段札實，教學經驗豐富</p>
				<p>
					<a
						class="btn btn-primary btn-large"
						href="#">了解更多 »</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2><span class="label label-info">開課訊息</span></h2>
			<p>104.12.30週三中鋼新開一期，A班基礎倫巴，B班森巴，歡迎大家參加！</p>
			
		</div>
		<div class="col-md-4">
			<h2><span class="label label-warning">停課通知</span></h2>
			<p>105.01.23週六8點文化中心華爾滋，停課一次。</p>
		</div>

	</div>
</div>
} {
<script>
	
</script>
}
