@(params: forms.PageParams)(style: Html)(content: Html)(script: Html)

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta
	name="description"
	content="">
<meta
	name="author"
	content="">
<link
	rel="icon"
	href="../../favicon.ico">

<title>@params.getString("title")</title>

<!-- Bootstrap core CSS -->
<link
	rel="stylesheet"
	media="screen"
	href='@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.min.css")'>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link
	href="../../assets/css/ie10-viewport-bug-workaround.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link
	rel="stylesheet"
	href='@routes.Assets.versioned("stylesheets/jumbotron-narrow.css")'>

<link
	rel="stylesheet"
	href='@routes.Assets.versioned("stylesheets/sticky-footer.css")'>

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<link
	rel="stylesheet"
	media="screen"
	href='@routes.Assets.versioned("bower_components/jquery-ui/themes/base/jquery-ui.min.css")'>
<link
	rel="stylesheet"
	media="screen"
	href='@routes.Assets.versioned("bower_components/fontawesome/css/font-awesome.min.css")'>
<link
	rel="stylesheet"
	media="screen"
	href='@routes.Assets.versioned("stylesheets/main.css")'>
<link
	rel="shortcut icon"
	type="image/png"
	href='@routes.Assets.versioned("images/favicon.png")'>
@style
</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<nav
					class="navbar navbar-default"
					role="navigation">
					<div class="navbar-header">

						<button
							type="button"
							class="navbar-toggle"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a
							class="navbar-brand"
							href="#">妍蓁舞蹈班</a>
					</div>

					<div
						class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a href="@routes.Application.index()">首頁</a>
							</li>

							<li>
								<a href="@routes.WeekClassMaster.index()">每周上課清單</a>
							</li>
							<li>
								<a href="#">拉丁舞課程</a>
							</li>
							<li>
								<a href="#">摩登舞課程</a>
							</li>
							<li>
								<a href="#">每堂上課期間</a>
							</li>
							<li>
								<a href="#">上課環境介紹</a>
							</li>

						</ul>

						<ul class="nav navbar-nav navbar-right">
							@if("ccli0709@gmail.com".equals(params.getString("connected"))) {
							<li>
								<a href="#">
									<span class="glyphicon glyphicon-user"></span>
									ccli0709
								</a>
							</li>
							<li>
								<a href="@routes.Application.logout()">
									<span class="glyphicon glyphicon-log-in"></span>
									登出
								</a>
							</li>
							}else{

							<li>
								<a href="@routes.Application.login()">
									<span class="glyphicon glyphicon-user"></span>
									登入
								</a>
							</li>
							}
						</ul>
					</div>

				</nav>
			</div>
		</div>


		<div class="row">
			@if(flash.containsKey("success")){
			<div
				class="alert alert-success"
				style='padding: 6px'
				role="alert">系統訊息：@flash.get("success")</div>
			} @if(flash.containsKey("error")){
			<div
				class="alert alert-danger"
				style='padding: 6px'
				role="alert">系統訊息：@flash.get("error")</div>
			}
		</div>
		@content


	</div>
	<!-- /container -->
	
    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; 1980-9999
			<span class="label label-primary">ccli0709</span>
			<code>@@gmail.com</code></p>
      </div>
    </footer>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

	<script
		src='@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")'
		type="text/javascript"></script>
	<script
		src='@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")'
		type="text/javascript"></script>
	<script
		src='@routes.Assets.versioned("bower_components/jquery-ui/jquery-ui.min.js")'
		type="text/javascript"></script>
	<script
		src='@routes.Assets.versioned("bower_components/bootbox/bootbox.js")'
		type="text/javascript"></script>
	<script
		src='@routes.Assets.versioned("javascripts/hello.js")'
		type="text/javascript"></script>
	@script
</body>
</html>